---
import Layout from "../layouts/Layout.astro";
import Header from "../components/ui/Header.astro";
import Main from "../components/ui/Main.astro";
import Tarifas from "../components/ui/Tarifas.astro";
import Ubicacion from "../components/ui/Ubicacion.astro";
import Servicios from "../components/ui/Servicios.astro";
import Contacto from "../components/ui/Contacto.astro";
import InstagramFeed from "../components/ui/Instagram-Feed.astro";
import Reglamento from "../components/ui/Reglamento.astro";
import DisponibilidadCabañas from "../components/reservas/DisponibilidadCabañas.jsx";
import WhatsappWidget from "../components/ui/WhatsappWidget.astro";
import ReservaFloatingButton from "../components/ui/ReservaFloatingButton.astro";

export const prerender = false;
const location = "laserena";
---

<Layout>
  <main>
    <WhatsappWidget location={location} />
    <ReservaFloatingButton location={location} />
    <Header location={location} />
    <Main location={location} />
    <Tarifas location={location} />
    <Servicios location={location} />
    <Ubicacion location={location} />
    <DisponibilidadCabañas client:load location={location} />
    <Contacto location={location} />
    <InstagramFeed location={location} />
    <Reglamento location={location} />
  </main>
</Layout>
